body {
  background: #fdfdfd; 
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px; 
}

.invalid-feedback {
  display: block; 
}

.header{
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-item{
  position: relative;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-item:not(:last-child):after {
  content: " ";
  border: 2px solid #173f5f;
  width: 30px;
  position: absolute;
  top: 20px;
  left: 70px;
}
.header-item_number {
  color: #ffffff;
  background-color: #173f5f;
  border: 3px solid #173f5f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 36px;
}
.header-item.active > .header-item_number{
  border: 3px solid #f6d55c;
  background-color: #3caea3;
}
.header-item.completed > .header-item_number{
  border: 3px solid #f6d55c;
  background-color: #f6d55c;
  color: #ed553b;
}
.header-item.completed:not(:last-child):after {
  content: " ";
  border: 2px solid #f6d55c;
  width: 30px;
  position: absolute;
  top: 20px;
  left: 70px;
}

.avatar{
  width: 100%;
}
.avatar-small{
  width: 100px;
}